/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower');
  @import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
html {
  font-size: 20px; 
}
@media(min-width: 768px){
  html {
    font-size: 18px;
  }
}

body {
  /* font-size: 22px; */
  font-family: 'Indie Flower';
}

footer{
  font-family: 'Arimo';
}